@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Madimi+One&display=swap');



* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    padding: 20px;
    color: gray;
    box-shadow:  0px 1px 10px hsla(0, 0%, 0%, .2);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header-titles {
    text-align: center;
    text-shadow: 0px 5px 5px hsla(0, 0%, 0%, .3);
}



h1 {
    font-family: "Dosis";
    font-weight: 700;
    font-size: 50px;
}

h3 {
    font-family: 'Dosis';
    font-size: 20px;
    font-weight: 200;
}

.container {
    padding: 10px;
    display: flex;

}

.cont-item {
    padding: 20px;
    font-family: 'Dosis';
    font-size: 20px;
    font-weight: 200;
}


